.page{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  min-height: 100vh;
  padding:0px;
  margin:0px;
}
main{
  padding:1em;
  width:100%;
}
